.vscode/
*.js
!features/**/*.js
*.d.ts
*.js.map
*.metadata.json
!gulp-tasks/**/*.js
!gulpfile.js
!bundlefile.js
!tasks-config.js
node_modules/
.tmp/
npm-debug.log*
ngfactory/
TODO.md
ts-base/
!ts-base/index.ts
src/ts-base*
ts-base.ts
bundles/
features/**/ts-base.feature

readdir-filter
tests/**
